@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --font-defualt-color: #c9d1d9;
    --font-titles-color: #58a6ff;
}
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}
#navbar{
    width: 25%;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    position: fixed;
    overflow-y: scroll;
    z-index: 2;
    text-align: center;
    background-color: #161b22;
}
#navbar::-webkit-scrollbar{
    display: none;
}
#navbar header{
    padding: 0, 30px;
    font-size: 2.1vw;
    color: var(--font-titles-color);   
}
#navbar-links{
    margin-top: 70px;
    padding-bottom: 70px;
    text-align: left;
}
#navbar a{
    display: block;
    color: var(--font-defualt-color);
    text-decoration: none;
    margin: 25px 0px;
    font-size: 1.5vw;
}
#main-doc{
    width: 75%;
    padding: 150px 0px;
    box-sizing: border-box;
    position: relative;
    left: 25%;
    overflow-x: hidden;
    color: var(--font-defualt-color);
    line-height: 35px;
    background-color: #010409;
}
#main-doc header{
    font-size: 2.0vw;
    color: var(--font-titles-color);
}
#main-doc p{
    font-size: 1.5vw;
}
#main-doc ul{
    font-size: 1.5vw;
}
.main-section{
    width: 80%;
    margin: 50px auto;
    padding-top: 20px;
}
.main-section code{
    padding: 5px;
    background-color: rgba(69, 195, 86, 0.4);
    border-radius: 5px;
    font-size: 1.5vw;
}
#columns-example{
    width: 100px;
    height: 200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 50px 50px;
}
#colums-example-item-1{
    background-color: rgba(255, 0, 0, 0.5);
}
#colums-example-item-2{
    background-color: rgba(0, 0, 255, 0.5);
}
#rows-example{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 50px 50px;
}
#rows-example-item-1{
    background-color: rgba(255, 0, 0, 0.5);
}
#rows-example-item-2{
    background-color: rgba(0, 0, 255, 0.5);
}
#columns-gap-example{
    width: 100px;
    height: 200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 50px 50px;
    column-gap: 30px;
}
#columns-gap-example-item-1{
    background-color: rgba(255, 0, 0, 0.5);
}
#columns-gap-example-item-2{
    background-color: rgba(0, 0, 255, 0.5);
}
#rows-gap-example{
    width: 200px;
    height: 100px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-row-gap: 30px;
}
#rows-gap-example-item-1{
    background-color: rgba(255, 0, 0, 0.5);
}
#rows-gap-example-item-2{
    background-color: rgba(0, 0, 255, 0.5);
}
#Lines_in_a_grid img{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}
#number-of-columns-example{
    width: 150px;
    height: 200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 50px 50px 50px;
}
#number-of-columns-example-item-1{
    background-color: rgba(0, 0, 255, 0.5);
    grid-column: 1/3;
}
#number-of-columns-example-item-2{
    background-color: rgba(255, 0, 0, 0.5);
    grid-column: 3/4;
}
#number-of-rows-example{
    width: 200px;
    height: 150px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 50px 50px 50px;
}
#number-of-rows-example-item-1{
    background-color: rgba(0, 0, 255, 0.5);
    grid-row: 1/3;
}
#number-of-rows-example-item-2{
    background-color: rgba(255, 0, 0, 0.5);
    grid-row: 3/4;
}

@media (max-width: 500px){
    #navbar{
        width: 100%;
        height: auto;
        position: relative;
    }
    #navbar-links{
        margin: 50px 0px;
    }
    #navbar-links a{
        text-align: center;
    }
    #navbar header, #main-doc header{
        font-size: 1.3rem;
    }
    #navbar a, #main-doc p, #main-doc ul, #main-doc code{
        font-size: 1.0rem;
    }
    #main-doc{
        width: 100%;
        padding: 50px 0px;
        position: relative;
        left: 0px;
    }
}

@media (max-width: 800px){
    #navbar{
        padding: 30px 15px;
    }
    #navbar header, #main-doc header{
        font-size: 1.0rem;
    }
    #navbar a, #main-doc p, #main-doc ul, #main-doc code{
        font-size: 0.8rem;
    } 
}